.container {
    display: flex;
    justify-content: space-betweenzzzz;
    gap: 10px;
    margin: top 30px; ;
  }
  
  .category {
    width: 23%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
  }
  
  .category h3 {
    font-weight: normal;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .subtitle {
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin: 0 auto;
    /* ostad injasho harkar kardim ba flex nashod ai zadam bebakshid */
  }
  
  .images img {
    width: 100%;
    border-radius: 4px;
    height: 100px;
    border: 1px solid #eee;
  }
  
  .view-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    color: #06c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .view-link:hover {
    text-decoration: underline;
  }